@using OrderProcessing;
@model Order

@{
    ViewBag.Title="Update";
}

<h2>Update Orders</h2>


@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.Id, new { htmlattributes = new { @class = "label label-info" } })
            </td>
            <td>
                @Html.EditorFor(model => model.Id, new { htmlattributes = new { @class = "form-control" } })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.CustomerId, new { htmlattributes = new { @class = "label label-info" } })
            </td>
            <td>
                @Html.EditorFor(model => model.CustomerId, new { htmlattributes = new { @class = "form-control" } })
            </td>
        </tr>
         <tr>
            <td>
                @Html.LabelFor(model => model.OrderDate, new { htmlattributes = new { @class = "label label-info" } })

            </td>
            <td>
                @Html.EditorFor(model => model.OrderDate, new { htmlattributes = new { @class = "form-control" } })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.TotalAmount, new { htmlattributes = new { @class = "label label-info" } })
            </td>
            <td>
                @Html.EditorFor(model => model.TotalAmount, new { htmlattributes = new { @class = "form-control" } })
            </td>
        </tr>
         <tr>
            <td>
                @Html.LabelFor(model => model.PaymentMode, new { htmlattributes = new { @class = "label label-info" } })
            </td>
            <td>
                @Html.EditorFor(model => model.PaymentMode, new { htmlattributes = new { @class = "form-control" } })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Status, new { htmlattributes = new { @class = "label label-info" } })
            </td>
            <td>
                @Html.EditorFor(model => model.Status, new { htmlattributes = new { @class = "form-control" } })
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td><input type="submit" name="UpdateOrder" value="UpdateOrder" /></td>
        </tr>
    </table>
}